body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
.app {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em;
}
.card {
  width: 200px;
  min-width: 200px;
  overflow: hidden;
  text-align: center;
  outline: 2px solid bisque;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 10px;
}
.card img {
  object-fit: cover;
  width: 200px;
}